/*
 * Custom CSS
 */

:root {
  --bs-body-bg: var(--bs-gray-100);
}

.bg-darkgrey {
  background-color: #312d2a !important; /* This is a dark grey color */
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: #f5F5F5 !important; /* This is white color */
}
